# ==========================================
# CONFIGURACIÓN DE SUPABASE - ITAD ERP GUATEMALA
# ==========================================
# Renombrar este archivo a: .env.local

NEXT_PUBLIC_SUPABASE_URL=https://lnuduhpsmdqjwyhhirba.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxudWR1aHBzbWRxand5aGhpcmJhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ3MDY0MTEsImV4cCI6MjA4MDI4MjQxMX0.JHAB4y8_5v8dfzQ7HyVAULTq6kyvVH9WF2Gxhx6pSd4
NEXT_PUBLIC_SITE_URL=http://localhost:3000
